@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: sans-serif;
  font-size: 30px;
  font-style: italic;
  left: 40%;
  top: 20%;
  height: 400px;
  width: 300px;
  border: solid rgb(0, 0, 0) 2px;
  background-color: rgb(255, 255, 255);
}
h2 {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;

}
.input{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 250px;
    top: 35%;
    gap: 10px;
}
#input-1{
    padding: 7px;
}
#input-2{
    padding: 7px;
}
.btn-1{
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 8px;
    height: 30px;
    width: 250px;
    top: 60%;
    font-weight: bolder;
    padding-top: 5px;
    background-color: blue;
    color: white;
}
p{
    position: absolute;
    top: 75%;
    height: 20px;
    font-size: medium;
}
.p-2{
    position: absolute;
    top: 85%;
    right: 50px;
    font-size: medium;
    font-weight: bolder;
    color: blue ;
}
.fb{
    position: absolute;
    top: 85%;
    right: 73%;
    font-size: medium;
    font-weight: bolder;
    color: blue;
}





